<app-breadcrumb-public [single]="true" titlePage="Venta"></app-breadcrumb-public>

<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>
<div class="mt-5"></div>
<div class="row">
  <div class="col-12 col-md-9">
    <input type="text" placeholder="Ingresa Codigo" class="form-control" [(ngModel)]="productCode.code" (keyup.enter)="plus()" title="Ingresa el Codigo del Producto">
  </div>
  <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start">
    <fa-icon [icon]="faPlus" (click)="plus()" class="cursor text-success" title="Agregar Producto"></fa-icon>
    <fa-icon [icon]="faEye" (click)="open(content)" class="cursor text-info ms-2" title="Ver Producto"></fa-icon>
    <fa-icon [icon]="faSearch" (click)="openSearch(search)" class="cursor text-info ms-2" title="Buscar Producto"></fa-icon>
    <fa-icon [icon]="faDollarSign" (click)="confirm()" class="cursor text-success ms-2" title="Cobrar"></fa-icon>
    <fa-icon [icon]="faTrash" (click)="clean()" class="cursor text-danger ms-2" title="Cancelar Venta"></fa-icon>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ product.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Precio:</strong> <span>{{ product.price | currency }}</span></p>
    <p><strong>Stock:</strong> <span>{{ product.amount }}</span></p>
    <p><strong>Descripción:</strong> <span>{{ product.description }}</span></p>
    <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!product.image">
    <img [src]="url_images + product.image" alt="category.image" class="img-fluid" *ngIf="product.image" (error)="replaceImage(image)" #image>
  </div>
</ng-template>
<ng-template #search let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-search">Busqueda de producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <input type="text" name="name" id="name" class="form-control" [(ngModel)]="productSearch.name" (keyup)="searchProducts()">
  </div>
  <div class="modal-body" *ngFor="let product of productsSearch |  paginate: { itemsPerPage: 2, currentPage: page }; let i=index">
    <p><strong>Nombre:</strong> <span>{{ product.name  }}</span></p>
    <p><strong>Codigo:</strong> <span>{{ product.code }}</span></p>
    <p><strong>Stock:</strong> <span>{{ product.amount }}</span></p>
    <p><strong>Precio:</strong> <span>{{ product.price | currency }}</span></p>
    <pagination-controls  (pageChange)="page = $event"
                          (pageBoundsCorrection)="page = $event"
                          [maxSize]=5
                          [directionLinks]=true
                          [autoHide]=true
                          [responsive]=true
                          previousLabel="Anterior"
                          nextLabel="Siguente"
                          screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page"
                          screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</ng-template>
<div class="row mt-3">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h3> Venta</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead class="bg-primary text-white">
            <tr>
              <th width="20px">Cantidad</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th width="100px">Sub total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of sale" (click)="showProduct(contentProduct, product.id, product.amount)">
              <td>{{ product.amount }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.total | currency }}</td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td class="text-end"><strong>Total:</strong></td>
                <td>{{ total | currency }}</td>
              </tr>
            </tfoot>
          </table>
          <ng-template #contentProduct let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-product">
                {{ productShow.name }}
                <fa-icon [icon]="faTrashAlt" class="text-danger ms-2 cursor" (click)="delete(productShow.id); modal.dismiss()" title="Eliminar"></fa-icon>
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                <strong>Cantidad:</strong>
                <fa-icon [icon]="faMinus" class="text-info ms-2 cursor" (click)="minAmount(this.productShow.id)"></fa-icon>
                {{ productShow.amount }}
                <fa-icon [icon]="faPlus" class="text-info cursor" (click)="plusAmount(this.productShow.id)"></fa-icon>
              </p> <br>
              <p><strong>Total:</strong> <span>{{ productShow.total | currency }}</span></p><br>
              <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!productShow.image">
              <img [src]="url_images + product.image" alt="category.image" class="img-fluid" *ngIf="productShow.image" (error)="replaceImage(image)" #image>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
