<app-breadcrumb-public [single]="false" titlePage="Inventario" backPage="Productos" url="products"></app-breadcrumb-public>

<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>

<div class="mt-5"></div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
<!--            <input type="text" class="form-control">-->
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead class="bg-primary text-white">
            <tr>
              <th width="150px">Codigo</th>
              <th>Nombre</th>
              <th>Cantidad Total</th>
              <th>Cantidad Vendida</th>
              <th>Cantidad Existente</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <th>{{ product.code }}</th>
              <th>{{ product.name }}</th>
              <th>{{ product.amountTotal + product.amount }}</th>
              <th>{{ product.amountTotal }}</th>
              <th>{{ product.amount }}</th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
