<body class="adminbody">
<div class="main" [class.enlarged]="serviceMenu.getClose()">
  <ngx-spinner
    bdColor = "rgba(0, 0, 0, 1)"
    size = "large"
    color = "#fff"
    type = "square-jelly-box"
    [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
  </ngx-spinner>
  <app-sidebar-admin></app-sidebar-admin>
  <app-navbar-admin></app-navbar-admin>
  <div class="content-page">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
