<app-breadcrumb-public [single]="false" titlePage="Crear producto" backPage="Productos" url="products"></app-breadcrumb-public>
<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>

<div class="mt-5"></div>

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3><fa-icon [icon]="faHandPointer"></fa-icon> Nuevo Producto</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="submit(form)"  #form="ngForm">
          <div class="form-group">
            <label for="name">Nombre<span class="text-danger">*</span></label>
            <input type="text" name="name"  required placeholder="Ingresa Nombre" class="form-control" id="name" ngModel>
          </div>
          <div class="form-group">
            <label for="code">Codigo<span class="text-danger">*</span></label>
            <input type="number" min="1" name="code"  required placeholder="Ingresa Codigo" class="form-control" id="code" ngModel>
          </div>
          <div class="form-group">
            <label for="price">Precio<span class="text-danger">*</span></label>
            <input type="number" min="1" name="price"  required placeholder="Ingresa Precio" class="form-control" id="price" ngModel>
          </div>
          <div class="form-group">
            <label for="amount">Cantidad<span class="text-danger">*</span></label>
            <input type="number" min="1" name="amount"  required placeholder="Ingresa Cantidad" class="form-control" id="amount" ngModel>
          </div>
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea name="description" id="description" rows="10" class="form-control" ngModel></textarea>
          </div>
          <div class="form-group">
            <label for="provider">Proveedor<span class="text-danger">*</span></label>
            <select name="provider" id="provider" class="form-control" ngModel>
              <option *ngFor="let provider of providers" value="{{ provider.id }}">{{ provider.name }}</option>
            </select>
          </div>
          <div class="position-relative form-group">
            <label for="image" class="">Imagen</label>
            <div class="row">
              <div class="col-4">
                <img [src]="url_images + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit && !thumbnail">
                <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid">
              </div>
              <div class="col-4 d-flex align-items-center">
                <div class="upload-btn-wrapper">
                  <button class="btn btn-primary">Selecciona un archivo</button>
                  <input type="file" name="image" id="image" (change)="getImage($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group float-end mt-3">
            <button class="btn btn-primary m-l-5 ms-4" type="submit" [disabled]="form.invalid">
              Guardar
            </button>
            <button type="reset" class="btn btn-secondary m-l-5 ms-4">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div><!-- end card-->
  </div>
</div>
<!-- END container-fluid -->

