<app-breadcrumb-public [single]="false" titlePage="Parcial" backPage="Cortes" url="cuts"></app-breadcrumb-public>

<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>

<div class="mt-5"></div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <h3> Corte Parcial</h3>
          </div>
          <div class="col-3">
            <fa-icon class="cursor text-success float-end" [icon]="faCashRegister" (click)="PartialCut()" title="Realizar Corte" *ngIf="total != 0"></fa-icon>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="total != 0">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead class="bg-primary text-white">
            <tr>
              <th>Id</th>
              <th *ngIf="user.profile == 'admin'">Usuario que hizo la venta</th>
              <th>Fecha y Hora</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sale of sales; let i=index">
              <td>{{ i+1 }}</td>
              <td *ngIf="user.profile == 'admin'">{{ getUser(sale.user_id) }}</td>
              <td>{{ sale.created_at | date: 'medium' }}</td>
              <td>{{ sale.total | currency }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td></td>
              <td *ngIf="user.profile == 'admin'"></td>
              <td class="text-end">Total:</td>
              <td>{{ total | currency }}</td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="card-body" *ngIf="total == 0">
        <h2 class="text-center">No hay ventas pendientes para hacer el corte</h2>
      </div>
    </div>
  </div>
</div>
