<app-breadcrumb-public [single]="false" titlePage="Comprar Producto" backPage="Productos" url="products"></app-breadcrumb-public>

<p *ngIf="alert.active">
  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
</p>

<div class="mt-5"></div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control" (keyup.enter)="search(itemSearch)" #itemSearch placeholder="Ingresa Codigo o nombre del producto" [value]="value">
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="card-body" *ngIf="isObjEmpty(product)">
        <div class="row">
          <div class="col-12">
            <h3><strong>Nombre:</strong> {{ product.name }}</h3>
            <h3><strong>Precio:</strong> {{ product.price | currency }}</h3>
            <h3><strong>Cantidad Existente:</strong> {{ product.amount }}</h3>
            <img src="assets/images/missing.png" alt="Sin Imagen" class="img-fluid" *ngIf="!product.image">
            <img [src]="url_images + product.image" alt="category.image" class="img-fluid" *ngIf="product.image" (error)="replaceImage(image)" #image>
            <input type="number" min="1" class="form-control mt-3" [(ngModel)]="amount" (keyup.enter)="buy()">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
              <button class="btn btn-primary me-md-2" type="button" (click)="buy()">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
