@import "src/assets/sass/variables"

.container
  margin-top: 4.250em
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

  &.toggled
    -webkit-filter: blur(8px)
    -moz-filter: blur(8px)
    -o-filter: blur(8px)
    -ms-filter: blur(8px)
    filter: blur(8px)
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

.app-content
  z-index: 5

  ul.content-list li article figure
    position: relative

    &:before
      content: ''
      position: absolute
      z-index: 2
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.35)

    img
      width: 100%
      line-height: 1
      display: block

    figcaption
      color: #fff
      position: absolute
      z-index: 5
      bottom: 0
      padding: 2em 2em 2.5em 2em

      h1, span
        -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
        -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)

      h1
        padding: 0 0 0.25em 0
        margin: 0 0 0.25em 0
        border-bottom: 1px solid rgba(255, 255, 255, 0.25)

      span
        font-family: 'Montserrat', sans-serif
        display: block

        &.category
          letter-spacing: 0.2em
          text-transform: uppercase
          font-size: 0.8em
          padding: 0 0 0.3em
          color: rgba(255, 255, 255, 0.7)

        &.price
          font-size: 1.3em
          float: right

@media (min-width: $lg)
  .container
    margin-top: 0
