<div>
  <ngx-spinner
    bdColor = "rgba(0, 0, 0, 1)"
    size = "large"
    color = "#fff"
    type = "square-jelly-box"
    [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
  </ngx-spinner>

  <app-navbar-public></app-navbar-public>
  <!--main-nav-->
  <div class="container" [ngClass]="{'toggled': serviceMenu.getOpen()}">
    <div class="app-content">
      {{ expires_in }}
      {{ showtime }}
      <router-outlet></router-outlet>
      <!--content-list-->
    </div>
    <!--app-content-->
  </div>
  <!--contaienr-->
</div>
<!--screen-->
