<header>
  <a class="target-burger" (click)="toogle()" [ngClass]="{'toggled': open}">
    <ul class="buns">
      <li class="bun"></li>
      <li class="bun"></li>
    </ul>
    <!--buns-->
  </a>
  <!--target-burger-->
</header>
<nav class="main-nav" role="navigation" [ngClass]="{'toggled': open}">
  <ul>
    <li><a [routerLinkActive]="['active']" routerLink="/public/sale"><span>Venta</span></a></li>
    <li><a [routerLinkActive]="['active']"  routerLink="/public/users"><span>Usuarios</span></a></li>
    <li *ngIf="user.profile == 'admin' || user.profile == 'capturist'">
      <a [routerLinkActive]="['active']" (click)="toogleSub()" class="cursor"><span>Productos</span></a>
      <ul [ngStyle]="{'display': display}">
        <li><a routerLink="/public/products" (click)="hide()"><span>lista</span></a></li>
        <li><a routerLink="/public/products/buy" (click)="hide()"><span>Compra</span></a></li>
        <li><a routerLink="/public/products/inventory" (click)="hide()"><span>Inventario</span></a></li>
      </ul>
    </li>
    <li *ngIf="user.profile == 'admin' || user.profile == 'capturist'"><a routerLink="/public/providers"><span>Proveedores</span></a></li>
    <li><a [routerLinkActive]="['active']" routerLink="/public/cuts/partial"><span>Corte Parcial</span></a></li>
    <li *ngIf="user.profile == 'admin'"><a [routerLinkActive]="['active']" routerLink="/public/cuts/total"><span>Corte Total</span></a></li>
    <li><a (click)="sigout()" class="cursor"><span>Salir</span></a></li>
  </ul>
</nav>



    <!--<div class="topnav" [ngClass]="{'responsive': open}" >-->
<!--  <ul>-->
<!--    <li [routerLinkActive]="['active']"><a routerLink="/public/sale">Venta</a></li>-->
<!--    <li [routerLinkActive]="['active']" ><a routerLink="/public/users">Usuarios</a></li>-->
<!--    <li [routerLinkActive]="['active']" *ngIf="user.profile == 'admin' || user.profile == 'capturist'"><a routerLink="/public/products">Productos</a></li>-->
<!--    <li [routerLinkActive]="['active']" *ngIf="user.profile == 'admin' || user.profile == 'capturist'"><a routerLink="/public/providers">Proveedores</a></li>-->
<!--    <li [routerLinkActive]="['active']"><a routerLink="/public/cuts/partial">Corte Parcial</a></li>-->
<!--    <li [routerLinkActive]="['active']" *ngIf="user.profile == 'admin'"><a routerLink="/public/cuts/total">Corte Total</a></li>-->
<!--    <li [routerLinkActive]="['active']" *ngIf="user.profile == 'admin'"><a routerLink="/public/products/buy">Comprar Producto</a></li>-->
<!--    <li><a (click)="sigout()" class="cursor">Salir</a></li>-->
<!--    <li>-->
<!--      <a href="javascript:void(0);" class="icon" (click)="toogle()">-->
<!--        <fa-icon [icon]="faBars"></fa-icon>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
