@import "src/assets/sass/variables"

.main-nav
  position: absolute
  left: 0
  top: 0
  z-index: 0
  height: 100%
  width: 100%
  padding: 2em
  -webkit-opacity: 0
  -moz-opacity: 0
  opacity: 0
  -webkit-transform: scale(0.85)
  -ms-transform: scale(0.85)
  transform: scale(0.85)
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease

  &.toggled
    display: block
    z-index: 10
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
    -webkit-opacity: 1
    -moz-opacity: 1
    opacity: 1
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

  ul
    padding: 2em 0 0 0

    li
      border-bottom: 1px solid rgba(255, 255, 255, 0.15)

      a
        font-size: 1.250em
        color: #000 !important
        padding: 1em 0
        font-weight: 300
        display: block
        -webkit-transition: all 0.5s ease
        -moz-transition: all 0.5s ease
        -o-transition: all 0.5s ease
        transition: all 0.5s ease

        &:last-child
          border: none

        &:hover
          -webkit-opacity: 0.45
          -moz-opacity: 0.45
          opacity: 0.45
          -webkit-transition: all 0.5s ease
          -moz-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease
          padding: 1em

header
  position: absolute
  top: 0
  z-index: 15

  a.target-burger
    margin: 1.125em
    width: 3.250em
    height: 3.250em
    position: absolute
    display: block
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

    &:hover
      cursor: pointer
      -webkit-opacity: 0.45
      -moz-opacity: 0.45
      opacity: 0.45

    &.toggled ul.buns li.bun
      -webkit-transform: rotate(45deg) translateZ(0)
      transform: rotate(45deg) translateZ(0)

      &:last-child
        -webkit-transform: rotate(-45deg) translateZ(0)
        transform: rotate(-45deg) translateZ(0)

    ul.buns
      width: 1.625em
      height: 1.625em
      list-style: none
      margin: -0.8125em 0 0 -0.8125em
      padding: 0
      position: absolute
      top: 50%
      left: 50%
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1)
      transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1)
      -webkit-transform: translateZ(0)
      transform: translateZ(0)
      color: #000

      li.bun
        width: 100%
        height: 2px
        background-color: #000
        position: absolute
        top: 50%
        margin-top: -0.75px
        -webkit-transform: translateY(-3.75px) translateZ(0)
        transform: translateY(-3.75px) translateZ(0)
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1)
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1)

        &:last-child
          -webkit-transform: translateY(3.75px) translateZ(0)
          transform: translateY(3.75px) translateZ(0)


@media (min-width: $lg)
  .main-nav
    position: relative
    background-color: #1d2936
    height: 4.250em
    padding: 0
    -webkit-opacity: 1
    -moz-opacity: 1
    opacity: 1
    -webkit-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
    -webkit-transition: all 0.5s ease
    -moz-transition: all 0.5s ease
    -o-transition: all 0.5s ease
    transition: all 0.5s ease

    ul
      padding: 1em

      li
        display: inline-flex
        padding: 0 0.8em
        border-bottom: 0px solid rgba(255, 255, 255, 0.15)

        a
          padding: 0
          color: #fff !important

          &:hover
            -webkit-opacity: 0.45
            -moz-opacity: 0.45
            opacity: 0.45
            -webkit-transition: all 0.5s ease
            -moz-transition: all 0.5s ease
            -o-transition: all 0.5s ease
            transition: all 0.5s ease
            padding: 0

          &.active
            color: #38c172 !important

          &:not(:only-child):after
            padding-left: 5px
            content: ' ▾'

        ul
          background-color: #1d2936
          width: auto
          position: absolute
          margin-top: 3em
          z-index: 99999999999
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
          li
            display: block
            white-space: nowrap

  header
    position: relative
    background-color: #1d2936 !important
    top: 0
    display: none
